<nav class="cc-bottom-nav" aria-label="Mobile Navigation">
  <a href="https://courtcommand.com" class="cc-bottom-nav__item">
    <span class="cc-bottom-nav__icon">&#8962;</span>
    <span class="cc-bottom-nav__label">Home</span>
  </a>
  <a href="https://courtcommand.com/public/events" class="cc-bottom-nav__item">
    <span class="cc-bottom-nav__icon">&#127942;</span>
    <span class="cc-bottom-nav__label">Events</span>
  </a>
  <a href="https://courtcommand.com/public/live" class="cc-bottom-nav__item">
    <span class="cc-bottom-nav__icon">&#9889;</span>
    <span class="cc-bottom-nav__label">Live</span>
  </a>
  <a href="/" class="cc-bottom-nav__item cc-bottom-nav__item--active">
    <span class="cc-bottom-nav__icon">&#128240;</span>
    <span class="cc-bottom-nav__label">News</span>
  </a>
  <a href="https://courtcommand.com/login" class="cc-bottom-nav__item">
    <span class="cc-bottom-nav__icon">&#128100;</span>
    <span class="cc-bottom-nav__label">Sign In</span>
  </a>
</nav>
