<div class="cc-category-tabs">
  <a href="/" class="cc-category-tabs__tab{{#unless tag}} cc-category-tabs__tab--active{{/unless}}">All Stories</a>
  <a href="/tag/tournament-news/" class="cc-category-tabs__tab{{#has tag="tournament-news"}} cc-category-tabs__tab--active{{/has}}">Tournament News</a>
  <a href="/tag/player-spotlight/" class="cc-category-tabs__tab{{#has tag="player-spotlight"}} cc-category-tabs__tab--active{{/has}}">Player Spotlight</a>
  <a href="/tag/league-updates/" class="cc-category-tabs__tab{{#has tag="league-updates"}} cc-category-tabs__tab--active{{/has}}">League Updates</a>
</div>
