<header class="cc-header">
  <a href="/" class="cc-header__brand">
    <span class="cc-header__logo">CC</span>
    <span class="cc-header__title">Court Command <span class="cc-header__accent">News</span></span>
  </a>
</header>
