<header class="cc-header">
  <a href="/" class="cc-header__brand">
    <img src="{{asset "images/logo-icon.svg"}}" alt="" class="cc-header__logo-icon" />
    <span class="cc-header__title">Court Command <span class="cc-header__accent">News</span></span>
  </a>
</header>
