<nav class="cc-sidebar" aria-label="Court Command Navigation">
  <div class="cc-sidebar__logo">
    <a href="https://courtcommand.com">
      <span class="cc-sidebar__logo-text">CC</span>
    </a>
  </div>
  <ul class="cc-sidebar__nav">
    <li><a href="https://courtcommand.com" class="cc-sidebar__link"><span class="cc-sidebar__icon">&#8962;</span><span class="cc-sidebar__label">Home</span></a></li>
    <li><a href="https://courtcommand.com/public/tournaments" class="cc-sidebar__link"><span class="cc-sidebar__icon">&#127942;</span><span class="cc-sidebar__label">Tournaments</span></a></li>
    <li><a href="https://courtcommand.com/public/leagues" class="cc-sidebar__link"><span class="cc-sidebar__icon">&#127941;</span><span class="cc-sidebar__label">Leagues</span></a></li>
    <li><a href="/" class="cc-sidebar__link cc-sidebar__link--active"><span class="cc-sidebar__icon">&#128240;</span><span class="cc-sidebar__label">News</span></a></li>
    <li><a href="https://courtcommand.com/public/venues" class="cc-sidebar__link"><span class="cc-sidebar__icon">&#128205;</span><span class="cc-sidebar__label">Venues</span></a></li>
  </ul>
</nav>
